<?mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.map8.xf.dao.mapper.inquiry.TPurchaseRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.map8.xf.dao.entity.inquiry.TPurchaseRecordEntity">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="product_id" property="productId" />
        <result column="price" property="price" />
        <result column="quantity" property="quantity" />
        <result column="sum" property="sum" />
        <result column="purchase_date" property="purchaseDate" />
        <result column="note" property="note" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, product_id, price, quantity, sum, purchase_date, note
    </sql>

</mapper>
